@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>

<br />
<div class="list-group">
    <ul>
        <h2 class="list-group-item list-group-item-success">
            Developer information</h2>

            <li class="list-group-item list-group-item-primary">Oswaldo Rodriguez</li>
            <li class="list-group-item list-group-item-success"> <a target="_blank" title="Developer GitHub Page"href="https://github.com/RodriguezOswaldo">GitHub Page</a></li>
            <li class="list-group-item list-group-item-primary">South Carolina</li>
    </ul>
</div>