@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
        <h1 class="box-shadow">King Arthur's University</h1>
    <div class="">
        <img class="img-fluid rounded box-shadow" src="~/images/college.jpeg"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to King Arthur's University</h2>
        <p>
            A Modern University aim to train students to become succesful and productive citizens to society, dive in and learn more about us.
        </p>
    </div>
 
</div>